@{
    ViewData["Title"] = "Idea Center Survey";
}


my other results page

<a asp-controller="Home" asp-action="Results" class="btn btn-default">
    Filter Buttons!
</a>
<a asp-controller="Home" asp-action="Index" class="btn btn-default">
    Return Home
</a>